@import "../../../design-tokens/scss-variables.scss";

.contentContainer {
  grid-area: 2 / 2 / 3 / 3;
  position: relative;
  z-index: 3;
}

.contentInner {
  padding: 16px 16px;
}

.caption {
  @include caption($color: var(--dk-caption-color));
}

.sectionTitle {
  @include title-2xl($margin: 0 0 24px 0);
  color: var(--knockout-color);
}

.aboutBodyTitle {
  padding-left: 28px;
  margin: 0 0 16px;
  position: relative;
  color: var(--dk-text-color);

  &::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 1px;
    left: 0;
    top: 12px;
    background-color: var(--dk-description-line-color);
  }
}

.aboutBody {
  color: var(--dk-text-color);
  margin: 0 0 16px;
  line-height: 2rem;
}

@media (min-width: $breakpoint-l) {
  .contentContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .contentInner {
    grid-area: 1 / 1 / 2 / 3;
    padding: 0 16px;
  }

  .aboutBodyTitle {
    padding-left: 48px;

    &::before {
      width: 40px;
    }
  }
}
