@import "../../../design-tokens/scss-variables.scss";

.contentInner {
  grid-area: 1 / 1 / 2 / 5;
  padding: 148px 0;

  @media (min-width: $breakpoint-l) {
    grid-area: 1 / 2 / 2 / 5;
  }
}

.caption {
  font-family: var(--mono-font-family);
  font-weight: var(--mono-font-weight-regular);
  font-size: var(--font-size-ms);
  color: var(--caption-color);
  margin-bottom: 4px;
}

.title {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-medium);
  line-height: 130%;
  margin-bottom: 24px;
}
