.navWrapper {
    display: flex;
    justify-content: space-between;
    color: purple;
}

.navLeft {
    padding: 10px;
}

.navList {
    display: flex;
}

.navItem {
    padding: 10px;
}

.navItem:last-of-type {
    border: 1px solid purple;
    border-radius: 5px;
}