@import "../../../design-tokens/scss-variables.scss";

.contentContainer {
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-rows: repeat(2, auto);
  position: relative;
  z-index: 3;
}

.contentInnerTitle {
  grid-area: 1 / 1 / 2 / 2;
  padding: 16px 16px 0;
}

.caption {
  @include caption();
}

.sectionTitle {
  @include title-2xl($margin: 0 0 24px 0);
}
.sectionBody {
  margin-bottom: 32px;
}

.processContainer {
  padding: 16px 16px 36px;
}

.processIcon {
  color: var(--icon-color);
  margin-left: -2px;
}

.processTitle {
  @include title-l($margin: 16px 0 8px 0);
}

.processDescription {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.toolsListTitle {
  @include title-xs($margin: 0 0 8px 0);
}

.toolsList {
  font-size: var(--font-size-s);
}

@media (min-width: $breakpoint-m) {
  .contentContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .contentInnerTitle {
    grid-area: 1 / 1 / 2 / 3;
  }
}

@media (min-width: $breakpoint-l) {
  .contentContainer {
    grid-template-columns: repeat(4, 1fr);
  }

  .contentInnerTitle {
    grid-area: 1 / 1 / 2 / 5;
    padding: 100px 16px 0;
  }

  .processContainer {
    padding: 16px 16px 100px;
  }
}
