// Spacers
$spacer-xs: 4px;
$spacer-s: 8px;
$spacer-m: 16px;
$spacer-l: 24px;
$spacer-xl: 32px;

// Breakpoints
$breakpoint-s: 640px;
$breakpoint-m: 768px;
$breakpoint-l: 1024px;
$breakpoint-xl: 1280px;
