@import url("https://use.typekit.net/dpm3ksq.css");

html {
  --font-family: canada-type-gibson, sans-serif;
  --mono-font-family: source-code-pro, monospace;

  --font-size-2xs: 9px;
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-ms: 16px;
  --font-size-m: 18px;
  --font-size-l: 24px;
  --font-size-xl: 36px;
  --font-size-2xl: 48px;
  --font-size-3xl: 64px;

  --font-weight-light: 100;
  --font-weight-book: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --mono-font-weight-light: 300;
  --mono-font-weight-regular: 400;

  /* --heading-line-height: (font-size x 1.3); */
  /* --heading-margin-top: (font-size x 1.125); */
  /* --heading-margin-bottom: (font-size x 0.25) */

  /* --title-weight: 300; */
}
