.footer {
  border-top: 1px dashed var(--dk-guide-color);
  background-color: var(--dk-background-color);
}

.contentContainer {
  grid-area: 2 / 2 / 3 / 3;
  z-index: 3;
}

.contentInner {
  display: flex;
  justify-content: space-between;
  color: var(--dk-footer-color);
  font-size: var(--font-size-xs);
  padding: 0 8px 0 16px;
}

.socialLink {
  padding: 4px 8px;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: var(--knockout-color);
  }
}
