@import url("https://use.typekit.net/dpm3ksq.css");
@import "~sanitize.css";
@import "~sanitize.css/forms.css";
@import "~sanitize.css/typography.css";
@import "../design-tokens/css-variables.css";

body {
  font-family: var(--font-family);
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.03rem;

  background-color: var(--background-color);
  color: var(--text-color);
}

blockquote,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
pre {
  margin: 0;
}

/* html {
    --gutterWidth: 16px;
    --scrollbarWidth: 0px;
    --windowWidth: calc(100vw - var(--scrollbarWidth));
    --layoutWidth: calc(var(--windowWidth) - var(--gutterWidth)*2);
    --layoutWidthMax: 1080px;
    --viewportWidthSmall: 375;
    --viewportWidthMedium: 600;
    --viewportWidthLarge: 1112;
    --viewportScale: calc(var(--windowWidth)/var(--viewportWidthLarge));
    --paddingTop: 160px;
    --paddingBottom: 160px;
    --columnPaddingNone: 0;
    --columnPaddingNormal: 16px;
    --columnPaddingMedium: 16px;
    --columnPaddingLarge: 16px;
    --columnPaddingXLarge: 16px;
    --rowGapNormal: 8px;
    --rowGapMedium: 24px;
    --rowGapLarge: 32px;
    --rowGapXLarge: 64px;
    --rowGapXXLarge: 88px;
    --rowGap: var(--rowGapNormal);
    --columnCountMax: 1;
    --columnWidth: calc(var(--layoutWidth)/var(--columnCountMax));
    --columnMaxWidth: calc(var(--layoutWidthMax)*0.25);
    --copyMaxWidth: calc(var(--columnMaxWidth)*3);
}



:root {
    --smallBreakpoint: 640px;
    --mediumBreakpoint: 768px;
    --largeBreakpoint: 1024px;
    --xLargeBreakpoint: 1280px;
    --xxLargeBreakpoint: 1536px;
} */
